# Obtained with: show config commands | grep -v "syslog global\|ntp\|login\|console\|config\|hw-id\|loopback\|conntrack"
set firewall name DMZ-to-LAN default-action 'drop'
set firewall name DMZ-to-LAN enable-default-log
set firewall name DMZ-to-LAN rule 1 action 'accept'
set firewall name DMZ-to-LAN rule 1 state established 'enable'
set firewall name DMZ-to-LAN rule 10 action 'accept'
set firewall name DMZ-to-LAN rule 10 description 'Allow DMZ Access to Log01 Gray                                                                                                                                                             log'
set firewall name DMZ-to-LAN rule 10 destination address '172.16.200.12'
set firewall name DMZ-to-LAN rule 10 destination port '1514'
set firewall name DMZ-to-LAN rule 10 protocol 'udp'
set firewall name DMZ-to-MGMT default-action 'drop'
set firewall name DMZ-to-MGMT enable-default-log
set firewall name DMZ-to-MGMT rule 1 action 'accept'
set firewall name DMZ-to-MGMT rule 1 state established 'enable'
set firewall name DMZ-to-MGMT rule 20 action 'accept'
set firewall name DMZ-to-MGMT rule 20 description 'Syslog to Log01'
set firewall name DMZ-to-MGMT rule 20 destination address '172.16.200.12'
set firewall name DMZ-to-MGMT rule 20 destination port '1514'
set firewall name DMZ-to-MGMT rule 20 protocol 'udp'
set firewall name DMZ-to-WAN default-action 'drop'
set firewall name DMZ-to-WAN enable-default-log
set firewall name DMZ-to-WAN rule 1 action 'accept'
set firewall name DMZ-to-WAN rule 1 state established 'enable'
set firewall name DMZ-to-WAN rule 10 action 'accept'
set firewall name DMZ-to-WAN rule 10 description 'Time Check'
set firewall name DMZ-to-WAN rule 10 destination port '123'
set firewall name DMZ-to-WAN rule 10 protocol 'udp'
set firewall name DMZ-to-WAN rule 15 action 'accept'
set firewall name DMZ-to-WAN rule 15 description 'mail->WAN'
set firewall name DMZ-to-WAN rule 15 destination port '587'
set firewall name DMZ-to-WAN rule 15 protocol 'tcp'
set firewall name DMZ-to-WAN rule 15 source address '172.16.50.3'
set firewall name DMZ-to-WAN rule 16 action 'accept'
set firewall name DMZ-to-WAN rule 16 description 'httpd->WAN'
set firewall name DMZ-to-WAN rule 16 destination port '443'
set firewall name DMZ-to-WAN rule 16 protocol 'tcp'
set firewall name DMZ-to-WAN rule 16 source address '172.16.50.3'
set firewall name DMZ-to-WAN rule 20 action 'accept'
set firewall name DMZ-to-WAN rule 20 description 'Ping'
set firewall name DMZ-to-WAN rule 20 protocol 'icmp'
set firewall name LAN-to-DMZ default-action 'drop'
set firewall name LAN-to-DMZ enable-default-log
set firewall name LAN-to-DMZ rule 1 action 'accept'
set firewall name LAN-to-DMZ rule 1 state established 'enable'
set firewall name LAN-to-DMZ rule 10 action 'accept'
set firewall name LAN-to-DMZ rule 10 description 'HTTP Access to Mail01'
set firewall name LAN-to-DMZ rule 10 destination address '172.16.50.3'
set firewall name LAN-to-DMZ rule 10 destination port '80'
set firewall name LAN-to-DMZ rule 10 protocol 'tcp'
set firewall name LAN-to-MGMT default-action 'drop'
set firewall name LAN-to-MGMT enable-default-log
set firewall name LAN-to-MGMT rule 1 action 'accept'
set firewall name LAN-to-MGMT rule 1 state established 'enable'
set firewall name LAN-to-MGMT rule 2 action 'accept'
set firewall name LAN-to-MGMT rule 2 description 'LAN-RDP->DC01'
set firewall name LAN-to-MGMT rule 2 destination address '172.16.200.10'
set firewall name LAN-to-MGMT rule 2 destination port '3389'
set firewall name LAN-to-MGMT rule 2 protocol 'tcp'
set firewall name LAN-to-MGMT rule 2 source address '172.16.150.5-172.16.150.6'
set firewall name LAN-to-MGMT rule 3 action 'accept'
set firewall name LAN-to-MGMT rule 3 description 'LAN-RDP->DC02'
set firewall name LAN-to-MGMT rule 3 destination address '172.16.200.11'
set firewall name LAN-to-MGMT rule 3 destination port '3389'
set firewall name LAN-to-MGMT rule 3 protocol 'tcp'
set firewall name LAN-to-MGMT rule 3 source address '172.16.150.5-172.16.150.6'
set firewall name LAN-to-MGMT rule 5 action 'accept'
set firewall name LAN-to-MGMT rule 5 description 'Ping to Log01'
set firewall name LAN-to-MGMT rule 5 destination address '172.16.200.12'
set firewall name LAN-to-MGMT rule 5 protocol 'icmp'
set firewall name LAN-to-MGMT rule 10 action 'accept'
set firewall name LAN-to-MGMT rule 10 description 'Domain Connection to dc01'
set firewall name LAN-to-MGMT rule 10 destination address '172.16.200.10'
set firewall name LAN-to-MGMT rule 10 source address '172.16.150.2-172.16.150.10                                                                                                                                                             0'
set firewall name LAN-to-MGMT rule 15 action 'accept'
set firewall name LAN-to-MGMT rule 15 description 'Syslog access to Log01'
set firewall name LAN-to-MGMT rule 15 destination address '172.16.200.12'
set firewall name LAN-to-MGMT rule 15 destination port '1514'
set firewall name LAN-to-MGMT rule 15 protocol 'udp'
set firewall name LAN-to-MGMT rule 20 action 'accept'
set firewall name LAN-to-MGMT rule 20 description 'Allow LAN to Log01 Graylog'
set firewall name LAN-to-MGMT rule 20 destination address '172.16.200.12'
set firewall name LAN-to-MGMT rule 20 destination port '9000'
set firewall name LAN-to-MGMT rule 20 protocol 'tcp'
set firewall name LAN-to-MGMT rule 21 action 'accept'
set firewall name LAN-to-MGMT rule 21 description 'LAN to Log01 - 5044/tcp'
set firewall name LAN-to-MGMT rule 21 destination address '172.16.200.12'
set firewall name LAN-to-MGMT rule 21 destination port '5044'
set firewall name LAN-to-MGMT rule 21 protocol 'tcp'
set firewall name LAN-to-MGMT rule 22 action 'accept'
set firewall name LAN-to-MGMT rule 22 description 'LAN to Log01 - 5044/udp'
set firewall name LAN-to-MGMT rule 22 destination address '172.16.200.12'
set firewall name LAN-to-MGMT rule 22 destination port '5044'
set firewall name LAN-to-MGMT rule 22 protocol 'udp'
set firewall name LAN-to-MGMT rule 25 action 'accept'
set firewall name LAN-to-MGMT rule 25 description 'LDAP queries'
set firewall name LAN-to-MGMT rule 25 destination address '172.16.200.10-172.16.                                                                                                                                                             200.11'
set firewall name LAN-to-MGMT rule 25 destination port '389'
set firewall name LAN-to-MGMT rule 25 protocol 'udp'
set firewall name LAN-to-MGMT rule 30 action 'accept'
set firewall name LAN-to-MGMT rule 30 description 'Download File from FTP Server                                                                                                                                                             '
set firewall name LAN-to-MGMT rule 30 protocol 'tcp'
set firewall name LAN-to-MGMT rule 30 source address '172.16.150.10'
set firewall name LAN-to-MGMT rule 30 source port '20'
set firewall name LAN-to-WAN default-action 'drop'
set firewall name LAN-to-WAN enable-default-log
set firewall name LAN-to-WAN rule 1 action 'accept'
set firewall name LAN-to-WAN rule 1 state established 'enable'
set firewall name LAN-to-WAN rule 2 action 'accept'
set firewall name LAN-to-WAN rule 2 description 'LAN->INTERNET'
set firewall name MGMT-to-DMZ default-action 'drop'
set firewall name MGMT-to-DMZ enable-default-log
set firewall name MGMT-to-DMZ rule 1 action 'accept'
set firewall name MGMT-to-DMZ rule 1 state established 'enable'
set firewall name MGMT-to-DMZ rule 10 action 'accept'
set firewall name MGMT-to-DMZ rule 10 description 'MGMT->HTTP->WEB-MAIL'
set firewall name MGMT-to-DMZ rule 10 destination address '172.16.50.3'
set firewall name MGMT-to-DMZ rule 10 destination port '80'
set firewall name MGMT-to-DMZ rule 10 protocol 'tcp'
set firewall name MGMT-to-DMZ rule 20 action 'accept'
set firewall name MGMT-to-DMZ rule 20 description 'SSH Access from MGMT to DMZ'
set firewall name MGMT-to-DMZ rule 20 destination port '22'
set firewall name MGMT-to-DMZ rule 20 protocol 'tcp'
set firewall name MGMT-to-LAN default-action 'drop'
set firewall name MGMT-to-LAN enable-default-log
set firewall name MGMT-to-LAN rule 1 action 'accept'
set firewall name MGMT-to-WAN default-action 'drop'
set firewall name MGMT-to-WAN enable-default-log
set firewall name MGMT-to-WAN rule 1 action 'accept'
set firewall name WAN-to-DMZ default-action 'drop'
set firewall name WAN-to-DMZ enable-default-log
set firewall name WAN-to-DMZ rule 1 action 'accept'
set firewall name WAN-to-DMZ rule 1 state established 'enable'
set firewall name WAN-to-DMZ rule 10 action 'accept'
set firewall name WAN-to-DMZ rule 10 description 'OpenVPN access to Jump'
set firewall name WAN-to-DMZ rule 10 destination address '172.16.50.2'
set firewall name WAN-to-DMZ rule 10 destination port '1194'
set firewall name WAN-to-DMZ rule 10 protocol 'tcp_udp'
set firewall name WAN-to-DMZ rule 20 action 'accept'
set firewall name WAN-to-DMZ rule 20 description 'SSH Access to Jump'
set firewall name WAN-to-DMZ rule 20 destination address '172.16.50.2'
set firewall name WAN-to-DMZ rule 20 destination port '22'
set firewall name WAN-to-DMZ rule 20 protocol 'tcp'
set firewall name WAN-to-LAN default-action 'drop'
set firewall name WAN-to-LAN enable-default-log
set firewall name WAN-to-LAN rule 1 action 'accept'
set firewall name WAN-to-LAN rule 1 state established 'enable'
set firewall name WAN-to-MGMT default-action 'drop'
set firewall name WAN-to-MGMT enable-default-log
set firewall name WAN-to-MGMT rule 1 action 'accept'
set firewall name WAN-to-MGMT rule 1 state established 'enable'
set interfaces ethernet eth0 address '10.0.17.104/24'
set interfaces ethernet eth0 description 'SEC350-Final-WAN'
set interfaces ethernet eth1 address '172.16.50.1/28'
set interfaces ethernet eth1 description 'SEC350-Final-DMZ'
set interfaces ethernet eth2 address '172.16.150.1/24'
set interfaces ethernet eth2 description 'SEC350-Final-LAN'
set interfaces ethernet eth3 address '172.16.200.1/28'
set interfaces ethernet eth3 description 'SEC350-Final-MGMT'
set nat destination rule 20 description 'SSH Port Forward to Jump'
set nat destination rule 20 destination port '22'
set nat destination rule 20 inbound-interface 'eth0'
set nat destination rule 20 protocol 'tcp'
set nat destination rule 20 translation address '172.16.50.2'
set nat destination rule 20 translation port '22'
set nat source rule 10 description 'NAT for MGMT'
set nat source rule 10 outbound-interface 'eth0'
set nat source rule 10 source address '172.16.200.0/28'
set nat source rule 10 translation address 'masquerade'
set nat source rule 20 description 'NAT for LAN'
set nat source rule 20 outbound-interface 'eth0'
set nat source rule 20 source address '172.16.150.0/24'
set nat source rule 20 translation address 'masquerade'
set nat source rule 30 description 'NAT for DMZ'
set nat source rule 30 outbound-interface 'eth0'
set nat source rule 30 source address '172.16.50.0/28'
set nat source rule 30 translation address 'masquerade'
set protocols rip interface eth1
set protocols rip network '172.16.50.0/28'
set protocols static route 0.0.0.0/0 next-hop 10.0.17.2
set service dns forwarding allow-from '172.16.50.0/28'
set service dns forwarding allow-from '172.16.200.0/28'
set service dns forwarding allow-from '172.16.150.0/24'
set service dns forwarding listen-address '172.16.200.1'
set service dns forwarding listen-address '172.16.150.1'
set service dns forwarding listen-address '172.16.50.1'
set service dns forwarding system
set service ssh listen-address '0.0.0.0'
set service ssh loglevel 'verbose'
set system host-name 'fw01-bababooey'
set system name-server '10.0.17.2'
set system syslog host 172.16.200.12 facility auth level 'all'
set system syslog host 172.16.200.12 facility authpriv level 'all'
set system syslog host 172.16.200.12 facility kern level 'debug'
set system syslog host 172.16.200.12 format octet-counted
set system syslog host 172.16.200.12 port '1514'
set zone-policy zone DMZ from LAN firewall name 'LAN-to-DMZ'
set zone-policy zone DMZ from MGMT firewall name 'MGMT-to-DMZ'
set zone-policy zone DMZ from WAN firewall name 'WAN-to-DMZ'
set zone-policy zone DMZ interface 'eth1'
set zone-policy zone LAN from DMZ firewall name 'DMZ-to-LAN'
set zone-policy zone LAN from MGMT firewall name 'MGMT-to-LAN'
set zone-policy zone LAN from WAN firewall name 'WAN-to-LAN'
set zone-policy zone LAN interface 'eth2'
set zone-policy zone MGMT from DMZ firewall name 'DMZ-to-MGMT'
set zone-policy zone MGMT from LAN firewall name 'LAN-to-MGMT'
set zone-policy zone MGMT from WAN firewall name 'WAN-to-MGMT'
set zone-policy zone MGMT interface 'eth3'
set zone-policy zone WAN from DMZ firewall name 'DMZ-to-WAN'
set zone-policy zone WAN from LAN firewall name 'LAN-to-WAN'
set zone-policy zone WAN from MGMT firewall name 'MGMT-to-WAN'
set zone-policy zone WAN interface 'eth0'
